<h3>Plant Conditions</h3>

<h3>Plant name: <%= @plant["tfvname"] %></h3> 

<p><h4>Propagation: </h4><%= @condition["propagation"] %></p>
<p><h4>Soil: </h4><%= @condition["soil"] %></p>
<p><h4>Climate: </h4><%= @condition["climate"] %></p>